@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local('Manrope'), url("../../public/assets/fonts/Manrope-Regular.ttf");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local('Manrope'), url("../../public/assets/fonts/Manrope-Bold.ttf");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background: var(--backgrond);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}
