.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin: 50px 9% 0 18%;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav_list {
  display: flex;
  flex-direction: row;
}

.nav_item {
  font-size: 14px;
  list-style-type: none;
  padding-right: 35px;
}

.button {
  background-color: transparent;
  color: var(--text-color);
  font-size: 11px;
  font-weight: bolder;
  border: 1px solid var(--button);
  border-radius: 5px;
  padding: 11px 44px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button);
  transition: 1s;
}

@media(max-width: 428px) {
  .nav_list {
    display: none;
  }
  
  .button {
    display: none;
  }
}